<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar navbar-dark bg-primary" href="/">mon Blog</a>
        <div>
            <a href="{{route('auth.register')}}" class="btn btn-outline-info">Sign in</a>
            <a href="{{route('auth.login')}}" class="btn btn-outline-info">Login</a>
        </div>
    </div>
  </nav>