@layouts.layout({
    title:"login",
  })

  
<script src="{{ asset('js/auth/statistic1.js') }}"></script>
  @slot('css')
    @vite([
      'resources/css/statistic.css'
    ])
  @end
  <main>
<div class="container">
<div class="chart">
  <canvas id="myChart"></canvas>
   </div>
   <div class="charter">
  <canvas id="Chart"></canvas>
   </div>
</div>



  
  </main>

  
  @slot('js')
  @vite([
    'resources/js/auth/statistic1.js'
   
  ])
  @end
  @end
  