<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  @vite([
    'resources/css/bootstrap.css',
    'resources/js/app.js',
  ])
  {{{await $slots.css()}}}
</head>
<body>

<header class="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">logo à revoir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">premier lien</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">deuxieme lien</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">troisieme lien</a>
    </li>
  </ul>
  </div>
</nav>
</header>





  <h1> rien ne marche </h1>







{{{await $slots.main()}}}

{{{await $slots.js()}}}



   <footer class="footer mt-auto py-3 bg-light">
   <div class="container text-center">
     <span class="text-muted">Footer content &copy; 2024</span>
   </div>
 </footer>

</body>
</html>
