
@layouts.layout({
  title: "Home"


})

  @slot('css')
    @vite([
      'resources/css/home.css'
    ])
  @end
    <h1>  à gere apres </h1>
   

 @slot('js')
    @vite(['resources/js/home.js'])
  @end
  @end












































